*.o
.deps
/**/*.swp
/*.bak
/*.gcda
/*.gcno
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.dirstamp
/.gitignore
/ABOUT-NLS
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/INSTALL
/m4
*Makefile
*Makefile.in
/TAGS
/aclocal.m4
/autom4te.cache
/build-aux
/config
/config.*
/configure*
/data/quiz-runner.desktop
/gtk-doc.*
/intltool-*
/libtool
/po/*.gmo
/po/*.header
/po/*.mo
/po/*.sed
/po/*.sin
/po/.intltool-merge-cache
/po/Makefile
/po/Makefile.in
/po/Makefile.in.in
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/quiz-runner.pot
/po/stamp-*
/so_locations
/src/*.c
/src/*.stamp
/src/quiz-runner
/stamp-h1
/tags
